:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --white-medium: hsl(0, 1%, 64%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);
}



* {
    margin: 0;
    padding: 0;
    list-style:none;
    text-decoration:none;
    box-sizing: border-box;
}


html, body {
        height: 100%;
    }

/* // weight>; use o value from 100 to 900 // <uniquifier>; use a unique and descriptive class name */
body {
    font-family: "inter", sans-serif;
    background-color: var(--grey-900);
    color: var(--white);

      display: flex;
      align-items: center;
      justify-content: center;

    }
    
a {
    color: var(--white);
}

section{
    background-color: var(--grey-800);
    width: 330px;
    border-radius: 12px;
    padding: 18px;
    text-align: center;

}
section img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
}

section h1 {
    font-size: 28px;
    margin: 16px 0px 4px 0px;
    font-weight: 500px;
}
section h2 {
    font-size: 16px;
    margin-bottom: 24px;
    font-weight: 600px;
    color: var(--green);
}
section p {
    font-size: 14px;
    color: var(--white-medium);
    margin-bottom: 24px;
}
li {
    margin: 16px;
    
}
li a {
    background-color: var(--grey-700);
    padding: 12px;
    width: 100%;
    display: block;
    border-radius: 8px;
    font-weight: 500;
}
li a:hover{
    background-color: var(--green);
}
